<h2><%= @place.business_name %></h2>

<%= simple_format @comment.content %>

<p><%= link_to "Back to Place", place_path(@place) %></p>

<h2>Comments</h2>

<%= render "comments" %>
<%= render "form" %>

<p><%= link_to "New Comment", [:new, @commentable, :comment] %></p>