<% provide(:title, 'Edit Account Settings') %>

<h2>Edit <%= link_to @place.business_name, place_path(@place) %></h2>

<%= simple_form_for([:admin,@place], :html => {:class => 'form-horizontal', :multipart => true}) do |f| %>

<h4>Business info</h4>
  <div class="row">
    <div class="span6">
      <%= f.input :business_name %>
      <%= f.input :yelp_id %>
      <%= f.input :twitter_id %>
      <%= f.input :instagram_id %>
      <%= f.input :website_url %>
      <%= f.input :phone %>
    </div>
    <div class="span5">
      <%= f.input :address_1, :label => 'Address' %>
      <%= f.input :city %>
      <%= f.input :state_code, :label => 'State' %>
      <%= f.input :postal_code, :label => 'Zip Code' %>
      <%= f.input :tag_list, :label => "Tags (separated by commas)" %>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <%= f.label "Cover Photo" %>
      <%= f.file_field :coverphoto %>
        <div class="control-group">
          <%= f.label 'Price' %>
          <%= f.select :cost_scale, (['$','$$','$$$']) %>
        </div>
          <div class="control-group">
          <%= f.label 'Opening hours' %>
        </br></br>
          <div class="control-group">
            <div class="control-label">
          <%= link_to_add_fields "Add Hours", f, :hours %>
            </div>
          </div>
        </div>

      <h4>Logos</h4>
        <%= f.collection_check_boxes :logo_ids, Logo.all, :id, :name  %>

      <h4>Recommends</h4>
      <ol>
      <% if @articles.present? %>
      <li>
      <ul>
        <% @articles.each do |article| %>
        <li><b>Article Url:</b><%= article.url %></li>
          <li><b>Title:</b><%= article.title %></li>
          <li><b>Snippet:</b><%= article.snippet %></li>
          <%= link_to "remove", article, :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      <% end %>
    </ul>
  </li>
  </ol>
      <div class="control-group">
        <div class="control-label"><%= link_to_add_fields "Add Article", f, :articles %>
        </div>
      </div>

      <h4>Dishes</h4>
      <ol>
      <% if @dishes.present? %>
      <li>
      <ul>
        <% @dishes.each do |dish| %>
          <li><b>Dish Pic:</b><%= dish.image_url(:medium).to_s %></li>
          <li><b>Name:</b><%= dish.name %></li>
          <li><b>Description:</b><%= dish.description %></li>
          <%= link_to "remove", dish, :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      <% end %>
      </ul>
  </li>
  </ol>

      <div class="control-group">
        <div class="control-label">
        <%= link_to_add_fields "Add Dish", f, :dishes %>
      </div>
      </div>


    <%= f.button :submit, 'Update', :class => 'btn-primary' %>
  <% end %>
  </div>
</div>

  <%= link_to "Back", admin_places_path %>
  <%= link_to "View Place", place_path(@place) %>