
<%= f.simple_fields_for :place do |p| %>

<h4>Business info</h4>
  <div class="row">
    <div class="span5">
      <%= p.input :business_name %>
      <%= p.input :twitterid %>
      <%= p.input :instagramid %>
      <%= p.input :website %>
      <%= p.input :phone %>
    </div>
    <div class="span5">
      <%= p.input :street, :label => 'Address' %>
      <%= p.input :city %>
      <%= p.input :state %>
      <%= p.input :zip %>
      <%= p.input :tag_list, :label => "Tags (separated by commas)" %>
    </div>

      <%= p.label "Cover Photo" %>
      <%= p.file_field :coverphoto %>
        <div class="control-group">
          <%= p.label 'Price' %>
          <%= p.select :cost_scale, (['$','$$','$$$']) %>
        </div>
        <div class="control-group">
          <%= p.label 'Opening hours' %>
          <%= p.simple_fields_for :hours do |p| %>
          <fieldset>
            <%= p.select :day, Date::DAYNAMES.zip((0..6).to_a) %>
            <%= p.select :open_time, options_for_hours_select %>
            <%= p.select :close_time, options_for_hours_select %>
            <%= p.hidden_field :_destroy %>
            <%= link_to "remove", '#', class: "remove_fields btn" %>
           <% end %>
          <%= link_to_add_fields "Add Hours", p, :hours %>
          </fieldset>
        </div>
      </div>

<!-- Articles -->
      <h4>Recommend</h4>
      <%= p.simple_fields_for :articles do |p| %>
        <%= p.input :url %>
        <%= p.input :title %>
        <%= p.text_field :snippet %>
      <div class="control-group">
        <%= p.label "Article Image" %>
        <%= p.file_field :image %>
      </div>
        <div class="control-group">
          <%= p.label :remote_image_url, "or image URL", :class => 'control-label' %>
          <%= p.text_field :remote_image_url %>
          <%= p.hidden_field :_destroy %>
          <%= link_to "remove", '#', class: "remove_fields btn" %>
        </div>
      <% end %>
      <div class="control-group">
        <%= link_to_add_fields "Add Article", p, :articles %>
      </div>



<!-- DISHES -->
      <h4>Dishes</h4>
      <%= p.simple_fields_for :dishes do |p| %>
        <%= p.input :name %>
      <div class="control-group">
        <%= p.label "Dish Image" %>
        <%= p.file_field :image %>
      </div>
        <div class="control-group">
          <%= p.label :remote_image_url, "or image URL", :class => 'control-label' %>
          <%= p.text_field :remote_image_url %>
          <%= p.hidden_field :_destroy %>
          <%= link_to "remove", '#', class: "remove_fields btn" %>
        </div>
      <% end %>
      <div class="control-group">
        <%= link_to_add_fields "Add Dish", p, :dishes %>
      </div>

    <% end %>