<h1>Listing users</h1>

<%= form_tag admin_users_path, :method => 'get', :class =>  "form-inline navbar-form" do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag :search, params[:search]  %>
    <%= submit_tag "Search", :name => nil, :class => 'btn' %>
  </p>
<% end %>

<div class="span8">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%= sortable 'name' %></th>
        <th><%= sortable 'email' %></th>
        <th><%= sortable 'created_at', 'Registered' %></th>
        <th>City</th>
        <th>Role</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  <tbody>

<%= paginate @users %>

    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.place.business_name, place_path(user.place.id) %></td>
      <td><%= user.email %></td>
      <td><%= user.created_at.to_date %></td>
      <td><%= user.place.city unless user.place.nil? %></td>
      <td><%= user.roles.first.name.titleize unless user.roles.first.nil? %></td>
      <td><%= link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-mini' %></td>
      <td><%= link_to 'Delete', user, method: :delete,  data: { confirm: "You sure?" }, class: 'btn btn-mini' %></td>
    </tr>

      <% end %>
      </tbody>
  </table>

  <br />

  <%= link_to 'New User', new_admin_user_path %>
</div>