 <div>

 <h1>New user</h1>

 <% @user.place ||= Place.new %>
 <% @place.hours.build %>

  <%= simple_form_for([:admin,@user], :html => {:multipart => true}) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.input :name, :autofocus => true, :label => 'Username' %>
    <%= f.input :email, :required => true %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>

    <%= f.simple_fields_for :place do |p| %>

      <p><%= p.label "Cover Photo" %>
      <%= p.file_field :coverphoto %></p>

      <%= p.input :business_name %>
      <%= p.input :twitterid %>
      <%= p.input :instagramid %>
      <%= p.input :website %>
      <%= p.input :phone %>

      <%= p.simple_fields_for :hours do |p| %>
        <fieldset>
        <%= p.select :day, Date::DAYNAMES.zip((0..6).to_a) %>
        <%= p.select :open_time, options_for_hours_select %>
        <%= p.select :close_time, options_for_hours_select %>
        <%= p.hidden_field :_destroy %>
        <%= link_to "remove", '#', class: "remove_fields" %>
        </fieldset>
      <% end %>
      <%= link_to_add_fields "Add Hours", p, :hours %>


      <%= p.input :street, :label => 'Address' %>
      <%= p.input :city %>
      <%= p.input :state %>
      <%= p.input :zip %>

      <%= p.input :tag_list, :label => "Tags (separated by commas)" %>
    <% end %>

    <%= f.button :submit, 'Sign up', :class => 'btn-primary' %>
  <% end %>
</div>

<%= link_to "Back", admin_users_path %>
