

 <h1>New user</h1>

 <% @user.place ||= Place.new %>

  <%= simple_form_for([:admin,@user], :html => {:class => 'form-horizontal', :multipart => true}) do |f| %>
    <%= f.error_notification %>

    <%= f.input :name, :autofocus => true, :label => 'Username' %>
    <%= f.input :email, :required => true %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>

    <%= f.simple_fields_for :place do |p| %>

<h4>Business info</h4>
  <div class="row">
    <div class="span6">
      <%= p.input :business_name %>
      <%= p.input :twitterid %>
      <%= p.input :instagramid %>
      <%= p.input :website %>
      <%= p.input :phone %>
    </div>
    <div class="span5">
      <%= p.input :street, :label => 'Address' %>
      <%= p.input :city %>
      <%= p.input :state %>
      <%= p.input :zip %>
      <%= p.input :tag_list, :label => "Tags (separated by commas)" %>
    </div>
  </div>

      <div class="row">
    <div class="span12">
      <%= p.label "Cover Photo" %>
      <%= p.file_field :coverphoto %>
        <div class="control-group">
          <%= p.label 'Price' %>
          <%= p.select :cost_scale, (['$','$$','$$$']) %>
        </div>
        <div class="control-group">
          <%= p.label 'Opening hours' %>
        </br></br>
          <div class="control-group">
            <div class="control-label">
          <%= link_to_add_fields "Add Hours", p, :hours %>
        </div>
          </div>
        </div>

      <h4>Logos</h4>
        <%= p.collection_check_boxes :logo_ids, Logo.all, :id, :name  %>

      <h4>Recommends</h4>
      <ol>
      <% if @articles.present? %>
      <li>
      <ul>
        <% @articles.each do |article| %>
        <li><b>Article Url:</b><%= article.url %></li>
          <li><b>Title:</b><%= article.title %></li>
          <li><b>Snippet:</b><%= article.snippet %></li>
          <%= link_to "remove", article, :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      <% end %>
    </ul>
  </li>
  </ol>
      <div class="control-group">
        <div class="control-label"><%= link_to_add_fields "Add Article", p, :articles %>
        </div>
      </div>

      <h4>Dishes</h4>
      <ol>
      <% if @dishes.present? %>
      <li>
      <ul>
        <% @dishes.each do |dish| %>
          <li><b>Dish Pic:</b><%= dish.image_url(:medium).to_s %></li>
          <li><b>Name:</b><%= dish.name %></li>
          <li><b>Description:</b><%= dish.description %></li>
          <%= link_to "remove", dish, :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      <% end %>
      </ul>
  </li>
  </ol>

      <div class="control-group">
        <div class="control-label">
        <%= link_to_add_fields "Add Dish", p, :dishes %>
      </div>
      </div>
    <% end %>

    <%= f.button :submit, 'Sign up', :class => 'btn-primary' %>
  <% end %>
  </div>
</div>

<%= link_to "Back", admin_users_path %>
