<% @places.each do |place| %>
    <div class="box">

      <div class="imageContainer">
        <div class="image">
          <div class="info">
            <%= place.cost_scale %>
          </div>

          <!-- <%# if place.coverphoto.present? %>

            <%# link_to image_tag(place.coverphoto_url(:thumb).to_s), lightbox_place_path(place), class: "various fancybox.ajax" %>

          <%# else %>
            <a href='https://s3-us-west-1.amazonaws.com/wespot-photo-uploads/uploads/default/weSpot+splash+page+logo.jpg' class="various" data-fancybox-type="iframe"><%# image_tag('https://s3-us-west-1.amazonaws.com/wespot-photo-uploads/uploads/default/weSpot+splash+page+logo.jpg') %> </a>
          <%# end %>
 -->
          <a href='http://robertsaluminum.com/wp-content/gallery/availablestrapcolors/thumbs/thumbs_219_grey.gif'><%= image_tag('http://robertsaluminum.com/wp-content/gallery/availablestrapcolors/thumbs/thumbs_219_grey.gif') %> </a>
        </div>

        <div class="moreInfo">
          <h2><%= link_to place.business_name, place_path(place) %></h2>
        </div>
      </div>

      <div class="comments">

        <div class="fl">
          <em>
            <%= pluralize place.reputation_for(:votes).to_i, "vote" %>
            | <%= link_to "up", vote_place_path(place, type: "up"), method: "post" %>
            | <%= link_to "down", vote_place_path(place, type: "down"), method: "post" %>
          </em>
        </div>

        <div class="fr">
          <%= link_to pluralize(place.comments.count, "Comments"), place_comments_path(place) %>
        </div>
      </div>

      <div class="chat">
      <% place.comments.first(1).each do |comment| %>

          <%= comment.content %>

      <% end %>
      </div>



    </div>
  <% end %>