<h3>DISHES</h3>

    <% @dishes.each do |dish| %>

        <li class="dishItem">
          <% if dish.image_url.present? %>
            <%= link_to image_tag(dish.image_url(:medium)), "#{dish.image}", class: 'showImage' %>
            <% else %>
            <div class="showImage" style="background:#888;width:75px;height:75px;"></div>
            <% end %>
            <%= dish.name %>
            <div class="dishText"><%= dish.description %></div>
            <%= link_to "Comments", '#', class: 'fr' %>
        </li>

      <% end %>

  <% 5.times do %>
  <li class="dishItem">
    <div class="showImage" style="background:#888;width:75px;height:75px;"></div>
    <div class="dishText">Dish description here.</div>
    <%= link_to "Comments", '#', class: 'fr' %>
  </li>
  <% end %>

  <!-- <ul id="dishesContainer">
    <%# @dishes.each do |dish| %>
    <%# 5.times do %>
        <li class="dishItem">
            <%# link_to image_tag(dish.image_url(:medium)), "#{dish.image}", class: 'gram' %>
            <div class="showImage" style="background:#888;width:75px;height:75px;"></div>
          <%# dish.name %>
            <div class="dishText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in massa sem, tempor sodales nunc.  </div>
            <%# link_to "Comments", '#', class: 'fr' %>
        </li>
      <%# end %>
  </ul> -->



  <!-- <ol>
    <li>Fish <em>
        <%# link_to "up", vote_place_path(@place, type: "up"), method: "post" %>
        | <%# link_to "down", vote_place_path(@place, type: "down"), method: "post" %>
        | 337 votes
      </em></li>
  </ol> -->
