<div id="bizContainer" style="background:white;color:black;opacity:.95;">

<h2 style="font-size:24px;">Highlights</h2>


            <!-- <em>
              <%= pluralize @place.reputation_for(:votes).to_i, "vote" %>
              | <%= link_to "up", vote_place_path(@place, type: "up"), method: "post" %>
              | <%= link_to "down", vote_place_path(@place, type: "down"), method: "post" %>
            </em> -->


            <ol>
          <% @comments.each do |comment| %>

              <li><%= comment.content %></li>

          <% end %>
            </ol>

          <%= render "comments/form" %>
      <p><%= link_to "Comments", place_comments_path(@place) %></p>

    </div>