<%= provide(:title, 'Search') %>

<div class="container">
	<%= link_to "$", :sort => "cost1" %>
	<%= link_to "$$", :sort => "cost2" %>
	<%= link_to "$$$", :sort => "cost3" %>
	<%= link_to "Most Followed", :sort => "followers" %>
	<div class="center">
	<%= form_tag places_path, :method => 'get', :class =>  "form-inline form-search" do %>
		<%= text_field_tag :query, params[:query], :placeholder => "Search", :class => "search-query" %>
		<%= text_field_tag :query_location, params[:query_location], :placeholder => "Location", :class => "search-query" %>
		<%= submit_tag "Search", :name => nil, :class => "btn" %>
	<% end %>
	</div>

	<%# select('place', 'id',
            Place.order('business_name ASC').all.map{ |c| [c.business_name, c.id] }) %>
</div>


<div id="loading" class="center">
	<img src="http://www.jesseyuen.com/loz/images/loading.gif" />
</div>

<% content_for :container do %>
<div class="container-fluid">

	<div class="gridWrapper">
		<div id="container" style="display:none;" class="infinite-scrolling clearfix">
			<%= paginate @places %>
			<%= render 'box' %>
		</div>
	</div>
	<div class="mapWrapper">
		<%= render 'gmaps' %>
	</div>
</div>

<% end %>





