<%= provide(:title, 'Search') %>


<div class="container">

<div class="navbar">
  <div class="navbar-inner">
		<ul class="nav">
			<li><%= link_to("Most Buzz", {:query => params[:query], :query_location => params[:query_location], :sort => "#"}) %></li>
			<li><%= link_to("Most Followed", {:query => params[:query], :query_location => params[:query_location], :sort => "followers"}) %></li>
			<li><%= link_to("Most Recent", {:query => params[:query], :query_location => params[:query_location], :sort => "recent"}) %></li>

			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Price <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><%= link_to("$", {:query => params[:query], :sort => "price1"}) %></li>
					<li><%= link_to("$$", {:query => params[:query], :query_location => params[:query_location], :sort => "price2"}) %></li>
					<li><%= link_to("$$$", {:query => params[:query], :query_location => params[:query_location], :sort => "price3"}) %></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
	<div class="center">
	<%= form_tag places_path, :method => 'get', :class =>  "form-inline form-search" do %>
		<%= text_field_tag :query, params[:query], :placeholder => "Search", :class => "search-query" %>
		<%= text_field_tag :query_location, params[:query_location], :placeholder => "Location", :class => "search-query" %>
		<%= submit_tag "Search", :name => nil, :class => "btn" %>
	<% end %>
	</div>

</div>
<% end %>




<% content_for :container do %>
<div class="container-fluid">

<div id="loading" class="center">
	<img src="http://www.jesseyuen.com/loz/images/loading.gif" />
</div>

	<div class="gridWrapper">

		<div id="container" style="display:none;" class="infinite-scrolling clearfix grid">

				<!-- <%# content_tag "div", id: "places", data: {url: Place.within_bounding_box(Geocoder::Calculations.bounding_box([params[:lat].to_f, params[:lng].to_f], 1)) } do %>
					  Loading products...
				<%#end %> -->

				<!-- <ul id="markers_list">  </ul> -->

				<%= render 'box' %>

		</div>
	</div>
	<div class="mapWrapper">
		<%= render 'gmaps' %>
	</div>
</div>
	<%= paginate @places %>
<% end %>





