<%= provide(:title, 'Search') %>

<div class="container">
	<div class="center">
	<%= form_tag places_path, :method => 'get', :class =>  "form-inline form-search" do %>
		<%= text_field_tag :query, params[:query], :placeholder => "Search", :class => "search-query" %>
		<%# text_field_tag :query_location, params[:query_location], :placeholder => "Location", :class => "search-query", :id => "addresspicker" %>
		<%= submit_tag "Search", :name => nil, :class => "btn" %>
	<% end %>
	</div>
	<button> Map </button>
</div>




<% content_for :container do %>
	<%= render 'gmaps' %>
<% end %>

<% content_for :container do %>
<div id="container" class="centered infinite-scroll clearfix masonry">

	<%= paginate @places %>

	<% @places.each do |place| %>
		<div class="box">

			<div class="imageContainer">
			<!-- <a href="#inline" class="various"><%= image_tag(place.coverphoto_url(:thumb).to_s) %> </a> -->
				<div class="image">
				<%# link_to image_tag(place.coverphoto_url(:medium).to_s), "#inline#{place.id}", class: "various" %>
				<% if place.coverphoto.present? %>
					<%= link_to image_tag(place.coverphoto_url(:thumb).to_s), "#{place.coverphoto_url(:medium).to_s}", class: "various" %>
				<% else %>

				<% end %>
				</div>

				<div class="moreInfo">
					<h2><%= link_to place.business_name, place_path(place) %></h2>
				</div>
			</div>

			<div class="comments">

				<div class="fl">
					<em>
				    <%= pluralize place.reputation_for(:votes).to_i, "vote" %>
				    | <%= link_to "up", vote_place_path(place, type: "up"), method: "post" %>
				    | <%= link_to "down", vote_place_path(place, type: "down"), method: "post" %>
				  </em>
			  </div>

			  <div class="fr">
					<%= link_to pluralize(place.comments.count, "Comments"), place_comments_path(place) %>
				</div>
			</div>

			<div class="chat">
			<% place.comments.each do |comment| %>
				<div class="chatbox">
					<%= comment.content %>
				</div>
			<% end %>
			</div>



		</div>
	<% end %>


<% if false %>


<% @places.each do |place| %>
 <!-- LIGHTBOX CONTENT -->
 <div style="display:none;">
		<div id='<%= "inline#{place.id}" %>'>
			<div class="lightboxContainer">
			<script>
			$(document).ready(function(){
		    $(".lc").backstretch('<%= raw place.coverphoto_url(:medium).to_s %>');
		  });
			</script>

				<div class="lc">
					<%# link_to image_tag(place.coverphoto_url(:thumb).to_s), place_path(place) %>
				</div>
				<div class="rc">
					<h2><%= link_to place.business_name, place_path(place) %>
					<h3>Highlights</h3>
					<ul>

					<% place.comments.each do |comment| %>
						<li>
							<%= comment.content %>
						</li>
					<% end %>
					</ul>
				</div>
				<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{place.latitude}%2C#{place.longitude}" %>
				<%= place.gmaps4rails_address %>
			</div>
		</div>
	</div>
<% end %>
</div>
<% end %>



<% end %>
