<%= provide(:title, 'Search') %>

<% content_for :container do %>
<div class="navbar" style="margin-top:-20px;">
  <div class="navbar-inner">
    <%= render 'filters' %>
  </div>
</div>
<% end %>




<% content_for :container do %>
<div class="container-fluid grid">

<div id="loading" class="center">
	<img src="http://www.jesseyuen.com/loz/images/loading.gif" />
</div>

	<div class="gridWrapper">

		<div id="container" style="display:none;" class="infinite-scrolling clearfix">

				<!-- <%# content_tag "div", id: "places", data: {url: Place.within_bounding_box(Geocoder::Calculations.bounding_box([params[:lat].to_f, params[:lng].to_f], 1)) } do %>
					  Loading products...
				<%#end %> -->

				<!-- <ul id="markers_list">  </ul> -->

				<%= render 'box' %>

		</div>
	</div>
	<div class="mapWrapper">
		<%= render 'gmaps' %>
	</div>
</div>
	<%= paginate @places %>
<% end %>





