<%= provide(:title, 'Search') %>
 
<div class="container">
	<div class="center">
	<%= form_tag places_path, :method => 'get', :class =>  "form-inline form-search" do %>
		<%= text_field_tag :query, params[:query], :placeholder => "Search", :class => "search-query" %>
		<%# text_field_tag :query_location, params[:query_location], :placeholder => "Location", :class => "search-query", :id => "addresspicker" %>
		<%= submit_tag "Search", :name => nil, :class => "btn" %>
	<% end %>
	</div>
</div>

<button> Map </button>


<% content_for :container do %>
<div id="map_toggler" >
<%= gmaps("map_options" => { "auto_zoom" => false, "zoom" => 17},"markers" => { "data" => @json }) %>
</div>
<% end %>






<% content_for :container do %>
<div id="container" class="centered infinte-scroll clearfix masonry">

	<% paginate @places %>
	
	<% @places.each do |place| %>
		<div class="box">
			<div class="image">
			<%= link_to image_tag(place.coverphoto_url(:thumb).to_s), place_path(place) %>
				<div class="moreInfo">
				<h2><%= place.business_name %></h2>
			</div>
		</div>
			<div class="comments">
				<%= link_to pluralize(place.comments.count, "Comments"), place_comments_path(place) %>
			</div>
			<div class="chat">
			<% place.comments.each do |comment| %>
				<div class="chatbox">
					<%= comment.content %>
				</div>
			<% end %>	
			</div>

		</div>
	<% end %>

	
</div>
<% end %>


<% 
=begin %>
<%
=end %>
