

<% provide(:title, @place.business_name) %>
 <body style="<%= show_user_bg %>">


  <script>
  //   $(document).ready(function(){
  //     $(".coverphoto2").backstretch('<%= raw @place.coverphoto_url(:medium).to_s %>');
  //   });
  // </script>



<div class="container">

    <div class="span12">
      <!-- <div class="coverphoto2"></div> -->
      <%= render 'follow_form' if signed_in? %>
        <h1 style="font-size:24px;width:200px;display:inline; color:white;"><%= @place.business_name %></h1>

            <p style="color:white;"><strong><%= @place.followers.count %></strong> followers</p>
    </div>


    <div class="span9">


        <div class="col1">
          <%= render 'twitter' %>
          <%= render 'instagram' %>
          <%= render 'highlights' %>
        </div>
    </div>

    <div class="span3">
      <div class="col2">

        <%= render 'staticmap' %>
        <%= render 'dishes' %>

      </div>
    </div>

<!--       <div class="col3">

      </div> -->


  </div>

