

<% provide(:title, @place.business_name) %>
 <!-- <body style="<%= show_user_bg %>"> -->


  <script>
    // $(document).ready(function(){
    //   $("#coverphoto").backstretch('<%= raw @place.coverphoto_url.to_s %>');
    // });
  </script>

<% content_for :container do %>
<div class="container-fluid" style="padding: 0 3%;">
  <!-- <div id="coverphoto" style="<%= show_user_bg %>"></div> -->

  <div class="row-fluid">
    <div class="span12" >

      <%# render 'follow_form' if signed_in? %>
        <h1 style="display:inline;text-transform:uppercase;font:bold 36px sans-serif;"><%= @place.business_name %></h1>
        <% if can? :manage, @place %>
          <%= link_to 'edit', edit_admin_place_path(@place) %>
          <% end %>
        <%= render 'logos' %>
            <!-- <span><strong><%= @place.followers.count %></strong> followers</span> -->

    </div>
  </div>

  <div class="row-fluid">
    <div class="span3 spanContainer">


        <div class="col1">

          <%= render 'profile_info' %>
          <%= render 'twitter' %>
          <%= render 'staticmap' %>

          <%# render 'instagram' %>

        </div>
    </div>

    <div class="span5 spanContainer">
      <div class="col2">


        <%= render 'recommends' %>
        <%= render 'highlights' %>


      </div>
    </div>

    <div class="span4 spanContainer">
      <div class="col3">

        <%= render 'dishes' %>

      </div>
    </div>
  </div>



  </div>
  <% end %>

