<% provide(:title, @place.business_name) %>
<!--   <body style="<%= show_user_bg %>"> -->

  <script>
    $(document).ready(function(){
      $(".coverphoto2").backstretch('<%= raw @place.coverphoto_url(:thumb).to_s %>');
    });
  </script>

  <h1 style="font-size:24px;"><%= @place.business_name %></h1>

<div class="row-fluid">

  <div class="span4">

    <div class="coverphoto2"></div>
      <div class="col1">
        <%= render 'twitter' %>
        <%= render 'highlights' %>
      </div>
  </div>

  <div class="span5">
    <div class="col2">
      <%= render 'instagram' %>
    </div>
  </div>

  <div class="span3">
    <div class="col3">
      <%= render 'dishes' %>
      <%= render 'staticmap' %>
    </div>
  </div>

</div>
