<% provide(:title, @place.business_name) %>
 <body style="<%= show_user_bg %>">

  <script>
    $(document).ready(function(){
      $(".coverphoto2").backstretch('<%= raw @place.coverphoto_url(:thumb).to_s %>');
    });
  </script>

  <h1 style="font-size:24px;"><%= @place.business_name %></h1>

<div class="row-fluid">

  <div class="span5">

    <!-- <div class="coverphoto2"></div> -->
      <div class="col1">
        <%= render 'staticmap' %>
        <%= render 'instagram' %>
      </div>
  </div>

  <div class="span5">
    <div class="col2">
      <%= render 'twitter' %>
      <%= render 'highlights' %>
    </div>
  </div>

  <div class="span2">
    <div class="col3">
      <%= render 'dishes' %>
    </div>
  </div>

</div>

<%= @place.twitterid %>
