<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-left">
          <% if user_signed_in? %>
          <li><%= link_to "WeSpot", root_path %></li>
          <li><%= link_to "Search", places_path %></li>
          <% else %>
          <li><%= link_to "WeSpot", root_path %></li>
          <li><%= link_to "Search", places_path %></li>
          <% end %>
        </ul>


        <ul class="nav pull-right">
          <% if user_signed_in? %>
          <li><%= link_to "Customize Page", edit_user_path(current_user) %></li>
          <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Settings', edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          <% else %>

            <li><%= link_to "Sign in with Instagram", 'https://api.instagram.com/oauth/authorize/?client_id=4b659559dbc04558b93d75e24b5cc231&redirect_uri=http://localhost:3000&response_type=code' %>

            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>

<%
=begin

<%= link_to "Wespot", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path %>
      </li>
    <% end %>
  <% else %>
    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>
</ul>
=end %>