<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Wespot" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Wespot" %>">
    <script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
    <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
    <![endif]-->
    <%= stylesheet_link_tag "application", :media => "all" %>

  </head>


  <body class="<%= controller_name %> <%= action_name %>">
    <header class="navbar navbar-inverse navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container-fluid">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <%= yield :filters %>

      <div class="container">
          <%= render 'layouts/messages' %>
          <%= yield %>

          <%# debug(params) if Rails.env.development? %>

      </div>
        <%= yield :container %>

    </div>
  </body>
  <footer>
    <%= yield :scripts %>

  </footer>
</html>