<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Wespot" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Wespot" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>

  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>

      <div class="container">
          <%= render 'layouts/messages' %>
          <%= yield %>

          <%# debug(params) if Rails.env.development? %>

      <footer>
      </footer>

      </div> <!--! end of .container -->
        <%= yield :container %>

    </div> <!--! end of #main -->
  </body>
  <footer>
    <%= yield :scripts %>
  </footer>
</html>